@tailwind base;
@tailwind components;
@tailwind utilities;

/* アニメーション */
@media (max-width: 900px) {
    #main {
    animation: main_image 10s infinite both alternate;
  }

  /* イメージのtransitionを作る */
  @keyframes main_image {
    0% {
      background-image: url("../../public/images/o-dan/o-dan_transition2.jpg");
    }

    50% {
      background-image: url("../../public/images/o-dan/o-dan_transition1.jpg");
    }

    100% {
      background-image: url("../../public/images/o-dan/o-dan_transition3.jpg");
    }
  }
}

/* アニメーション */

@keyframes about_image {
  0% {
    background-image: url("/images/o-dan/o-dan_faraway.jpg");
    background-position: center;
    background-size: cover;
  }

  50% {
    background-image: url("/images/o-dan/o-dan_discover.jpg");
    background-position: center;
    background-size: cover;
  }

  100% {
    background-image: url("/images/o-dan/o-dan_mix.jpg");
    background-position: center;
    background-size: cover;
  }
}

.animate-about-image {
  animation: about-image 10s infinite both alternate;
}