@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border transition duration-200 ease-in;
  }

  body {
    @apply font-montserrat;
  }
}

@layer components {
  .btn {
    @apply block no-underline text-whiteCustom w-[80px] p-[8px] rounded-[8px] mx-auto hover:shadow-[inset_3px_3px_5px_rgb(56,58,59)] transition duration-200 ease-in text-center text-sm;
  }

  .btn-red {
    @apply bg-redCustom hover:bg-greenCustom;
  }

  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-600;
  }

  .btn-green {
    @apply bg-greenCustom hover:bg-green-600;
  }

  .btn-yellow {
    @apply bg-yellow-500 hover:bg-yellow-600;
  }
}

/* アニメーション */
@media (max-width: 900px) {
  #main {
    animation: main_image 10s infinite both alternate;
  }

  /* イメージのtransitionを作る */
  @keyframes main_image {
    0% {
      background-image: url("/images/o-dan/o-dan_transition2.jpg");
    }

    50% {
      background-image: url("/images/o-dan/o-dan_transition1.jpg");
    }

    100% {
      background-image: url("/images/o-dan/o-dan_transition3.jpg");
    }
  }
}

  #about_card2 {
    animation: about_image 10s infinite both alternate;
  }

  @keyframes about_image {
    0% {
      background-image: url("/images/o-dan/o-dan_faraway.jpg");
      background-position: center;
      background-size: cover;
    }

    50% {
      background-image: url("/images/o-dan/o-dan_discover.jpg");
      background-position: center;
      background-size: cover;
    }

    100% {
      background-image: url("/images/o-dan/o-dan_mix.jpg");
      background-position: center;
      background-size: cover;
    }
  }